<div id="flower-container">
    <div class="markq">
        <div id="markchild1"></div>
        <div id="markchild2"></div>
        <div id="markchild3"></div>
        <div id="markchild4">
            <div id="childmid1"></div>
            <div id="childmid2"></div>
        </div>
    </div>
    <div class="bookc">
        <div class="page cover-front no-select" onclick="movePage(this,1)">
            <h1>Agregar Libros</h1>
            <div class="icono">
                <img src="/assets/images/flowericon2.png" height="80">
            </div>
            <h2>Pasar página</h2>
        </div>
        <div class="page cover-front" id="ayuda" onclick="movePage(this,2)">
        </div>
        <div class="page text-page">
            <form [formGroup]="libroForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="nombre">Nombre del libro:</label>
                    <input type="text" class="form-control col-form-label col-form-label-sm" formControlName="nombre"/>
                    <!-- Mensaje de error de validacion-->
                    <div style="color: #ff3877;" 
                        *ngIf="enviado && myForm['nombre'].errors?.['required']">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="form-group">
                    <label for="autor">Autor:</label>
                    <input type="text" class="form-control col-form-label col-form-label-sm" formControlName="autor"/>
                    <!-- Mensaje de error de validacion-->
                    <div style="color: #ff3877;" 
                        *ngIf="enviado && myForm['autor'].errors?.['required']">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="form-group">
                    <label for="genero">Género:</label>
                    <select class="custom-select form-control" 
                    (change)="actualizarGenero($event.target.value)" 
                    formControlName="genero">

                    <option value="">Selecciona un género</option>
                    <option *ngFor="let genero of libroGenero"
                        value="{{genero}}">{{genero}}</option>
                    </select>
                    <!-- Mensaje de error de validacion-->
                    <div style="color: #ff3877;" 
                        *ngIf="enviado && myForm['genero'].errors?.['required']">
                        Debes seleccionar un género
                    </div>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha de publicación:</label>
                    <input type="date" class="form-control col-form-label col-form-label-sm" formControlName="fecha"/>
                    <!-- Mensaje de error de validacion-->
                    <div style="color: #ff3877;" 
                        *ngIf="enviado && myForm['fecha'].errors?.['required']">
                        Este campo es obligatorio
                    </div>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-outline-secondary btn-sm mt-1" type="submit">
                        Agregar libro
                    </button>
                </div>
            </form>
        </div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>

    </div>
    <span id="circle" class="circle"></span>
</div>